<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.tip.emassage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.register.RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.forums.ForumsActivity"
            android:label="@string/forums" />
        <activity
            android:name=".ui.courses.CoursesActivity"
            android:label="@string/courses" />
        <activity
            android:name=".ui.category.CategoryActivity"
            android:label="@string/category" />
        <activity
            android:name=".ui.lessons.LessonsActivity"
            android:label="@string/lessons" />
        <activity android:name=".ui.pdf.PdfActivity" />
        <activity android:name=".ui.quiz.QuizActivity" />
        <activity android:name=".ui.forums.form.ForumFormActivity" />
        <activity android:name=".ui.forums.details.ForumDetailActivity" />
        <activity android:name=".ui.grades.GradesActivity" />
        <activity android:name=".ui.video_simulation.VideoSimulationActivity"></activity>
    </application>

</manifest>